body {
  background-color: #7f0000;
  background-image: url("background.png");
  color: #D3D3D3;
}
h1 {
    background-color: #D3D3D3;
    color: #FFFAFA;
    padding: 25px 50px;
}
.cards-extra{
    max-width: 18rem;
    display: inline-block;
    margin: 10px;
}
.form-formatting{
    max-width: 40rem;
    margin: 10px;
}
.bold-font{
    font-weight: bold;
}
.dictionary{
    height: 20rem;
}